.problem {
    border-bottom: 1px solid black;
    border-bottom-width: initial;
    border-bottom-style: solid;
    border-bottom-color: initial;
    text-align: right;
    margin: auto;
}

@media print  
{
    .row {
        page-break-inside: avoid;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }
}